[core]
  excludesfile = ~/.gitignore

[push]
  default = upstream

[pull]
  rebase = true

[fetch]
  prune = true

[rebase]
  autostash = true

# >>> freckles global identity >>>
# <<< freckles global identity <<<

[stash]
  showPatch = true

[log]
  date = relative

[url "git@github.com:"]
  insteadOf = https://github.com/

[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/

# >>> freckles account includes >>>
# <<< freckles account includes <<<

[branch "master"]
  remote = origin

[branch "main"]
  remote = origin

[alias]
  fs = "!f() { python3 ~/.shell/git_tools.py fresh-switch \"$@\"; }; f"
  rb = "!python3 ~/.shell/git_tools.py remote-branches \"$@\""
  db = "!python3 ~/.shell/git_tools.py default-branch \"$@\""
