[core]
  excludesfile = /home/alexogeny/.gitignore

[push]
  default = current

[pull]
  rebase = true

[fetch]
  prune = true

[rebase]
  autostash = true

[user]
  name = alexogeny

[stash]
  showPatch = true

[log]
  date = relative

[url "git@github.com:"]
  insteadOf = https://github.com/

[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/

[includeIf "gitdir:~/private/github/**/.git"]
  path = .private.github.gitconfig

[includeIf "gitdir:~/private/github/**/.git"]
  path = .private.gitlab.gitconfig

[includeIf "gitdir:~/work/gitlab"]
  path = .work.gitlab.gitconfig
