[core]
  excludesfile = /home/alexogeny/.gitignore

[push]
  default = current

[pull]
  rebase = true

[fetch]
  prune = true

[rebase]
  autostash = true

[user]
  name = alexogeny

[stash]
  showPatch = true

[log]
  date = relative

[url "git@github.com:"]
  insteadOf = https://github.com/

[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/

[includeIf "gitdir:/home/alexogeny/Personal/Github/**"]
  path = /home/alexogeny/.github.gitconfig

[includeIf "gitdir:/home/alexogeny/Personal/Gitlab/**"]
  path = /home/alexogeny/.gitlab.gitconfig

[includeIf "gitdir:/home/alexogeny/Work/**"]
  path = /home/alexogeny/.work.gitconfig
